
<!DOCTYPE html>
<html>
<head>
  <title>Fteklinks</title>
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/docs/assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="vendor/bootstrap/js/bootstrap-transition.js"></script>
  <script type="text/javascript" src="vendor/bootstrap/js/bootstrap-collapse.js"></script>
  <script type="text/javascript" src="vendor/angular/angular.js"></script>
  <script type="text/javascript" src="vendor/angular-local-storage/localStorageModule.js"></script>
  <script type="text/javascript" src="scripts.js"></script>
  <script type="text/javascript">
      // Bootstrap data from server
      window.COURSE_DATA = <%= @json %>;
  </script>

  <% if @dev %>
  <!-- Development: livereload server -->
  <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
  <% end %>
</head>
<body>

<div class="wrapper" ng-app="fteklinks">

  <div class="course-list">
    <h1>Kurshemsidor</h1>

    <div class="settings collapsed" data-toggle="collapse" data-target="#settings">
      <span>Inst채llningar</span>
    </div>

    <div id="settings" class="collapse out" ng-init="checkFirstTime()" ng-controller="SettingsCtrl">
    <div class="well">
      L채s책r
      <ul class="nav nav-pills" >
        <li ng-class="{active: isCurrent('year', 1)}" 
            ng-click="set('year', 1)"><a href="">1</a>
        </li>
        <li ng-class="{active: isCurrent('year', 2)}" 
            ng-click="set('year', 2)"><a href="">2</a>
        </li>
        <li ng-class="{active: isCurrent('year', 3)}" 
            ng-click="set('year', 3)"><a href="">3</a>
        </li>
      </ul>

      L채speriod
      <ul class="nav nav-pills" >
        <li ng-class="{active: isCurrent('period', 1)}" 
            ng-click="set('period', 1)"><a href="">1</a>
        </li>
        <li ng-class="{active: isCurrent('period', 2)}" 
            ng-click="set('period', 2)"><a href="">2</a>
        </li>
        <li ng-class="{active: isCurrent('period', 3)}" 
            ng-click="set('period', 3)"><a href="">3</a>
        </li>
        <li ng-class="{active: isCurrent('period', 4)}" 
            ng-click="set('period', 4)"><a href="">4</a>
        </li>
      </ul>

      Program
      <ul class="nav nav-pills" >
        <li ng-class="{active: isCurrent('program', 'f')}" 
            ng-click="set('program', 'f')"><a href="">Teknisk fysik</a></li>
        <li ng-class="{active: isCurrent('program', 'tm')}" 
            ng-click="set('program', 'tm')"><a href="">Teknisk matematik</a></li>
      </ul>
    </div>
    </div>

    <table class="table" ng-controller="CourseCtrl">
      <tr ng-repeat="course in courses | filter:settings">
        <td>
          <!-- We have a URL -->
          <a href="{{course.url}}" ng-show="course.url">
            {{course.name}}
            <span class="pull-right arrow">&raquo;</span>
          </a>
          <!-- No URL -->
          <span class="no-link" ng-hide="course.url">
            {{course.name}}
          </span>
        </td>
      </tr>
    </table>
  </div>

</div>

</body>
</html>
