<!DOCTYPE html>
<html>
<head>
  <title>Fteklinks</title>
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/docs/assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script type="text/javascript" src="vendor/angular/angular.js"></script>
  <script type="text/javascript" src="scripts.js"></script>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
